#game_wolf_layout {
  background-image: url('/game-bg.png');
  width: 100%;
  height: 100%;
}

.game-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  z-index: 100;
}

.wolf-center,
.wolf-left,
.wolf-right {
  position: absolute;
}

.wolf-right {
  transform: scaleX(-1);
}

#game_wolf_layout,
.wolf-center,
.wolf-left,
.wolf-right {
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
