@import 'pages/RegisterPage.css';
@import 'components/FormToFill.css';
@import 'variables.css';

html,
body,
#root {
  height: 100%;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

body:has(#wolf_game) {
  overflow: hidden;
  position: fixed;
}
