.homepage-background {
  background-image: url('/img/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px 20px;
}

.custom-card {
  background-image: url('/form-bg.png');
  color: var(--color-text-formTofill);
  border: none;
  border-radius: 16px;
}

.card-container {
  max-width: 500px;
}
